@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');


*{
    padding:0;
    margin:0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;


}

body {

    font-family: 'Montserrat Alternates', sans-serif;

}

/*Navegacion*/  

.nav-Document{
 
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
    

}

.nav-Document li{
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition: none;

}

.nav-Document li a {

    font-size: 18px;

}

.container {
    max-width: 1200px;
    margin:0 - auto;
    
}